body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden; 
    position: relative;
}

header {
    background-color: #1a1a1a; 
    padding: 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.team-name {
    font-size: 18px;
    color: #e0e0e0;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px; 
}

.team-logo {
    height: 40px;
    vertical-align: middle; 
}

#logout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px; 
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

#logout-button:hover {
    background-color: #45a049; 
}

.chat-container {
    display: flex; 
    height: calc(100vh - 60px); 
}

.sidebar {
    width: 250px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding: 15px;
    border-right: 1px solid #444; 
    overflow-y: auto;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none; 
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border: 2px solid #444;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #333; 
}

.active-chat {
    background-color: #007bff; 
}

.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #1e1e1e; 
}

.chat-window h1 {
    margin: 0;
}

.chat-history {
    flex: 1; 
    overflow-y: auto; 
    background-color: #333; 
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
}

.chat-history p {
    margin: 5px 0; 
    color: #e0e0e0;
    word-wrap: break-word; 
    line-height: 1.5; 
}
.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1f1f1f;
    border-radius: 10px;
    border: 1px solid #444;
    margin: 15px 0;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #e0e0e0;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
}

#user-input::placeholder {
    color: #888;
}

#user-input-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

#user-input-button:hover {
    background-color: #0056b3;
}

#user-input-button:active {
    background-color: #003d80;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.add-chat-button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

#chat-list {
    position: relative;
}

.delete-chat-button {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
}

.active-chat .delete-chat-button {
    display: inline; 
}


@media (max-width: 600px) {
    .team-name {
        right: 20px;
    }

    .footer {
        width: 90%;
    }

    .sidebar {
        width: 200px;
    }

    .chat-window {
        padding: 10px; 
    }

}

.login-page {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #121212; 
}

.auth-form {
    background-color: #1e1e1e;
    border-radius: 10px; 
    padding: 20px; 
}

.auth-form input {
    padding: 15px; 
    border-radius: 5px;
    transition: border 0.3s ease;
}

.auth-form input:focus {
    border: 1px solid #007bff; 
    outline: none; 
}

.auth-form button {
    padding: 15px;
    border-radius: 5px; 
    transition: background 0.3s ease; 
}

.auth-form button:hover {
    background-color: #0056b3; 
}
